.App-header {
    background-color: #80CBC4;
    height: 15vh;
    padding: 20px;
    color: white;
  }

  .App-logo {
    animation: Fade-in-left 2s;
    height: 5vh;
    padding-right: 22px; 
  }
  
  .Header-title {
    animation: Fade-in-right 2s;
    font-size: 2.5vh;
    font-family: 'Dosis'
  }

  @media only screen and (max-width: 600px) {
    .App-logo {
        height: 12vh;
    }

    .Header-title {
      font-size: 3.5vh;
    }
}

  @keyframes Fade-in-left {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-150px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }

  @keyframes Fade-in-right {
    0% {
      opacity: 0;
      -webkit-transform: translateX(150px);
    }
    50% {
      opacity: 0;
      -webkit-transform: translateX(150px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }